header {
    background-color: white;
    border-bottom: 1px #cccccc solid;
    
  }
header div {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-left: 25px;
    height: 70px; 
    width: 100%;
}